{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'restaurant/css/style.css' %}"> -->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mt-5 border border-danger border-2 rounded">
                <div class="text"></div>
            </div>
    </div>
    <!-- <script src="{% static 'restaurant/js/typewrite.js' %}"></script> -->
    </div>
</body>
</html>